.calc {
  width: 1040px;
  margin-left: -40px;
}

.calc .row {
  display: block;
  width: 1040px;
  text-align: center;
}

.calc .section,
.calc .slider {
  margin: 20px 0 40px;
}

.calc .section {
  margin-bottom: 0;
}

.calc .result {
  font-weight: bold;
  font-size: 18px;
  margin-top: 3px;
}

.calc .label {
  font-size: 24px;
  font-family:'BrandonGrotW01-Regular', "Arial", sans-serif;
  text-transform: uppercase;
  color: #e46b2a;
}

.calc .slider {
}

.calc .results {
  width: 660px;
  font-weight: bold;
  padding: 15px;
  border-top: 1px solid #4a4a4a;
  margin: 0 auto;
}

.calc .col-left,
.calc .col-right {
  display: table-cell;
  padding: 0 40px 0;
  text-align: left;
  width: 500px;
}

.calc input[type=radio] {
  margin: 8px 10px 8px 0;
}

.calc input[type=text] {
  background-color: #e0e0e0;
  border: 0;
  float: right;
  padding: 10px;
  text-align: right;
  width: 150px;
}

.calc ul.controls {
  width: 360px;
  margin: 0 auto -40px;
}

.calc ul.controls li {
  display: table-cell;
  text-align: center;
}

.calc input[type=reset],
.calc input[type=button] {
  margin: 15px;
}


/* Interaction states
----------------------------------*/

.ui-slider-horizontal {
	height: 10px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -7px;
	margin-left: -5px;
}

.ui-widget-content {
	border: 0;
	background: #d8d8d8;
	color: #333333;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
        border: 0;
	background: url("../images/orange-circle-sml.png") 50% 50% no-repeat;
        height: 24px;
        width: 24px;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #1c94c4;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
        border: 0;
	background: url("../images/orange-circle-sml.png") 50% 50% no-repeat;
        height: 24px;
        width: 24px;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #c77405;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
        border: 0;
	background: url("../images/orange-circle-sml.png") 50% 50% no-repeat;
        height: 24px;
        width: 24px;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #eb8f00;
	text-decoration: none;
}


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 0;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 0;
}

/* Overlays */
.ui-widget-overlay {
	background: #666666 url("images/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat;
	opacity: .5;
	filter: Alpha(Opacity=50);
}
.ui-widget-shadow {
	margin: -5px 0 0 -5px;
	padding: 5px;
	background: #000000 url("images/ui-bg_flat_10_000000_40x100.png") 50% 50% repeat-x;
	opacity: .2;
	filter: Alpha(Opacity=20);
	border-radius: 5px;
}
