{% extends "base.html" %}

{% block title %}Loan Calculator - {{ block.super }}{% endblock %}

{% block extrahead %}
  {{ block.super }}

  {% comment %}

    {# JQuery UI must be included. #}

    <link href="{{ STATIC_URL }}stylesheets/jquery-ui-1.10.4.custom.css" type="text/css" rel="stylesheet" />
    <script src="{{ STATIC_URL }}javascripts/jquery-ui.js" type="text/javascript"></script>

  {% endcomment %}

  <link href="{{ STATIC_URL }}stylesheets/loancalculator.css" type="text/css" rel="stylesheet" />
  <script src="{{ STATIC_URL }}javascripts/loancalculator.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

  <form name="calc" class="calc" method="POST">

    <div class="row">

      <div class="col-left">

        <div class="inputs section">
          <input type="text" id="loan"><input type="hidden" id="loanVal">
          <div class="label">Loan Value</div>
          <div class="slider" id="loanSlider"></div>
        </div>

        <div class="inputs section">
          <input type="text" id="terms" name="termVal">
          <div class="label">Years</div>
          <div class="slider" id="termSlider"></div>
        </div>

        <div class="inputs section">
          <input type="text" id="rate" name="rate"><input type="hidden" id="rateVal">
          <div class="label">Interest Rate</div>
          <div class="slider" id="rateSlider"></div>
        </div>

      </div>

      <div class="col-right">

        <div class="inputs radios section">
          <div class="label">Repayment Frequency</div>
          <input type="radio" name="freq" id="freqA" class="freq" value="0">Annually<br>
          <input type="radio" name="freq" id="freqM" class="freq" value="1" checked>Monthly<br>
          <input type="radio" name="freq" id="freqF" class="freq" value="2">Fortnightly<br>
          <input type="radio" name="freq" id="freqW" class="freq" value="3">Weekly
        </div>

        <div class="inputs radios section">
          <div class="label">Repayment Type</div>
          <input type="radio" name="type" id="typeP" class="type" value="0" checked>Principal and Interest<br>
          <input type="radio" name="type" id="typeI" class="type" value="1">Interest Only<br>
        </div>

      </div>

    </div>


    <div class="row section">

      <div class="results">
        <div class="label">Repayment Amount</div>
        <div class="result" id="repayment">$ --</div>
      </div>

      <div class="results">
        <div class="label">Total Interest Payable</div>
        <div class="result" id="totalInterest">$ --</div>
      </div>

      <div class="results">
        <ul class="controls">
          <li><input type="button" onClick="calcInterest()" value="Calculate"></li>
          <li><input type="reset" value="Reset"></li>
        </ul>
      </div>

    </div>

  </form>


{% endblock %}
