
.col {
  width: 564px;
  float: left;
  margin: 5px;
}

form, 
.section,
.slider {
  width: 500px;
}

.section,
.slider {
  margin: 15px 0;
}

.section {
  padding: 15px 30px;
  border: 1px solid lightgrey;
}

.label {
}

.slider {
}

input[type=text] {
  width: 100px;
  text-align: right;
} 

.result {
  font-weight: bold;
}
 